myDocument upload code/flows/Cache_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>InsertUserAccountToCache</name>
        <label>InsertUserAccountToCache</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>FetchPlatformCache</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Portal_User.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>federationIdentifier</name>
            <value>
                <elementReference>Get_Portal_User.FederationIdentifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isIdentityVerified</name>
            <value>
                <elementReference>Get_Portal_User.IsIdentityVerified__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.X18CharId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FetchPlatformCache</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <constants>
        <name>ttlSeconds</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3600.0</numberValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Cache Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Cache Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Portal_User</name>
        <label>Get Portal User</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InsertUserAccountToCache</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Portal_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
