myDocument upload code/flows/Customer_Data_Match_Response_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Event_Log_Values</name>
        <label>Assign Event Log Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Event_Log.Status_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ResponseCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event_Log.Response_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ResponseBody__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event_Log.Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Event_Log.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResponseStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Event_Log_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Found_Event_Log</name>
        <label>Check Found Event Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Event_Log_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Log Found</defaultConnectorLabel>
        <rules>
            <name>No_Log_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Log.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>No EventLog Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ResponseStatus</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.ResponseCode__c} == &quot;200&quot;, &quot;Processed&quot;, &quot;Error&quot;)</expression>
    </formulas>
    <interviewLabel>Customer Data Match Response Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Data Match Response Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event_Log</name>
        <label>Get Event Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Found_Event_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventUuid__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EventUuid__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FLWINS_API_Call_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event_Log_Record</name>
        <label>Update Event Log Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Event_Log</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_Log</targetReference>
        </connector>
        <object>Customer_Data_Match_Response__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
