myDocument upload code/flows/Delete_Assessment_Record_After_30_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Record</name>
        <label>Assign Parent Record</label>
        <locationX>671</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>ParentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssessmentId__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQRImages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDeleteError</name>
        <label>Assign Delete Error</label>
        <locationX>956</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorMessageDefault</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_capture_File</name>
        <label>Error capture-File</label>
        <locationX>341</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorFileDelete</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>ErrorFileDelete</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error in File deletion</stringValue>
        </value>
    </constants>
    <constants>
        <name>errorMessageDefault</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error: Parent assessment already deleted</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkQRExisit</name>
        <label>checkQRExisit</label>
        <locationX>671</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Delete_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkQR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQRImages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteImagesQR</targetReference>
            </connector>
            <label>checkQR</label>
        </rules>
    </decisions>
    <description>BUG-10492: added fault path
US - 9843: Delete File - Qr Code</description>
    <environments>Default</environments>
    <interviewLabel>Delete Assessment Record After 30 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Assessment Record After 30 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Assessment</name>
        <label>Delete Assessment</label>
        <locationX>671</locationX>
        <locationY>816</locationY>
        <faultConnector>
            <targetReference>AssignDeleteError</targetReference>
        </faultConnector>
        <inputReference>ParentRecord</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteImagesQR</name>
        <label>DeleteImagesQR</label>
        <locationX>539</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Delete_Assessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_capture_File</targetReference>
        </faultConnector>
        <inputReference>GetQRImages</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Content Document Link</description>
        <name>GetQRImages</name>
        <label>GetQRImages</label>
        <locationX>671</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkQRExisit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>545</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assign_Parent_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X30_Days_Old_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FL WINS Site Guest User</stringValue>
            </value>
        </filters>
        <object>ServiceWizardAssessment_Result__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-15</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assessment</objectType>
    </variables>
</Flow>
