myDocument upload code/flows/Sync_Person_Account_Names_to_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_User_Name_Fields</name>
        <label>Set User Name Fields</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_User_Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_User_Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_User_Record.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_User_Exists</name>
        <label>Check if User Exists</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_User_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Name_Fields</targetReference>
            </connector>
            <label>User Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Person Account Names to User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Person Account Names to User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_User_Record</name>
        <label>Get Related User Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>Get_Related_User_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_User_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MiddleName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
